
.container {
  margin-top: 50px;
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}

.container1{
  margin: 15px auto;
  background-color: lightgrey;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 30px;
  max-width: 500px;
  width: 100%;
 
}
.result {
  font-size: 24px;
  margin-bottom: 20px;
}


#message {
  font-size: 18px;
  color: #27ae60;
  margin-top: 10px;
}

#CalculateNetworthButton {
  background-color: rgb(41, 134, 191);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#CalculateNetworthButton:hover {
  background-color: rgb(33, 78, 140);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;

}

.custom-center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
input.form-control,
input.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}
.container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}